#временные файлы
*~
__history
Debug/
Release/
eventlog*.txt
eventLog*.txt
*.log
*.bak


LibrarySupport*/
ModelSupport*/
yzpm_ktpp.pro.user
yzpmktpp.cbproj.local
Debug
ModelSupport_yzpmktpp
Thumbs*
Работа программы.docx
документация.dox
документация.doxdb
изменения.txt
комментарии.dtx
комментарии.dtx.bak
тз.doc
шаблоны и илюстрации.rar
un_used
