#временные файлы
*~
__history
Debug/
Release/
eventlog*.txt
eventLog*.txt
*.log
*.bak

Thumbs.db*

LibrarySupport*/
ModelSupport*/
yzpm_ktpp.pro.user
yzpmktpp.cbproj
yzpmktpp.cbproj.local
yzpmktpp.cpp
__history
Debug
ModelSupport_yzpmktpp
Thumbs.db
Thumbs.db:encryptable
Работа программы.docx
документация.dox
документация.doxdb
изменения.txt
комментарии.dtx
комментарии.dtx.bak
тз.doc
шаблоны и илюстрации.rar
un_used
